.formInput__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type="number"],
input[type="password"],
input[type="text"],
input[type="textarea"] {
  border-radius: 4px;
  padding: 15px;
}

input[type="textarea"] {
  resize: none;
}

.label__input {
  font-size: 20px;
  color: white;
}

.p_input__component {
  font-size: 0.75rem;
  padding: 0.18%;
  color: red;
  display: none;
}

.input__component:invalid[focused="true"] {
  border: 0.0625rem solid red;
}

.input__component:invalid[focused="true"] ~ p {
  display: block;
  line-height: 1.5;
}
